doctype=html
html(language=en)
include components/_head
body
    include components/_navbar.pug
    if messages
        div.alert.alert-warning.alert-dismissible.fade.show
            strong #{messages}
            button.close(type='button' data-dismiss='alert' aria-label='Close')
                span(aria-hidden='true') &times;
    div.container
        div.jumbotron
            h1.display-3 Welcome to SGM
            p.lead Student Grade Manager is an example of Pug server-side rendering, MongoDB incorporation, and Passport Authentication. Please Sign Up and explore.
            p.lead
                a.btn.btn-primary.btn-lg.signup(href='/user/signup') Sign Up
                a.btn.btn-secondary.btn-lg.signin(href='/user/signin') Sign In
            p.lead See the Github
                a.btn.btn-secondary.btn-lg.signin(target='_blank' rel='noopener noreferrer' href='https://github.com/jontiritilli/student-grade-table')
                    i.fab.fa-github
    include components/_modal