doctype=html
html(language=en)
include components/_head
body
    include components/_navbar.pug
    div.card.access
        div.card-body
            form.signin-form.col-sm-12(method='post' action='/user/signin')
                h3.card-title.d-flex.justify-content-center Sign In to Your Account
                div.form-group
                    div.input-group
                        span.input-group-addon
                            i.input-group-text.fas.fa-envelope
                        input.form-control.form-control-sm(type='text' name='email' id='email' placeholder='Email')
                div.form-group
                    div.input-group
                        span.input-group-addon
                            i.input-group-text.fas.fa-lock
                        input.form-control.form-control-sm(type='password' name='password' id='password' placeholder='Password')
                div.row.d-flex.justify-content-center
                    button(type='submit' id='loginBtn' class='btn btn-outline-success') Sign In
    include components/_modal