doctype=html
html(language=en)
include components/_head
body
    include components/_navbar.pug
    div.container
        div.row
            div.card.students.col-sm-12.col-lg-3.float-right
                div.card-content
                    form.student-add-form(method='post' action='/student/addStudent')
                        h4.d-flex.justify-content-center Add Student
                        div.form-group
                            div.input-group
                                span.input-group-addon
                                    i.fa.fa-user
                                input.form-control.form-control-sm(type='text' name='studentName' id='studentName' placeholder='Enter Name')
                        div.form-group
                            div.input-group
                                span.input-group-addon
                                    i.fa.fa-list
                                input.form-control.form-control-sm(type='text' name='course' id='course' placeholder='Enter Course')
                        div.form-group
                            div.input-group
                                span.input-group-addon
                                    i.fa.fa-graduation-cap
                                input.form-control.form-control-sm(type='text' name='studentGrade' id='studentGrade' placeholder='Enter Grade')
                        div.row.d-flex.justify-content-center
                            button.addButton.btn.btn-outline-success(type='button' id='addBtn') Add
                            button.btn.btn-outline-danger(type='submit' id='clearBtn') Clear

            div.student-list-container.col-sm-12.col-lg-9.float-right
                table
                    thead
                        tr
                            th First Name
                            th Last Name
                            th Course
                            th Actions
                    tbody
                        //- for student in studentList
                            tr
                                th student.name
                                th student.course
                                th student.grade
                                th button.btn.btn-danger
    include components/_modal