doctype=html
html(language=en)
include components/_head
body
    div.background-image
    include components/_navbar.pug
    include components/_messages.pug
    div.container.centered-container
        div.jumbotron
            div.display-4.d-flex.justify-content-center Unauthorized
            p.d-flex.justify-content-center Please Sign Up or Sign In to view the students table.
            p.lead.d-flex.justify-content-center
                a.btn.btn-light.btn-lg.signup(href='/user/signup') Sign Up
                a.btn.btn-primary.btn-lg.signin(href='/user/signin') Sign In
            p.lead.d-flex.justify-content-end See the Github
                a.btn.btn-secondary.btn-lg.signin(target='_blank' rel='noopener noreferrer' href='https://github.com/jontiritilli/student-grade-table')
                    i.fab.fa-github
    include components/_messageModal.pug