.btn {
    cursor: pointer;
}

.access {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: #eeeeeefb;
}

@media (min-width: 700px) {
    .access {
        width: 50%;
        margin-left: 25%;
        background-color: #eeeeeefb;
    }
}
.container {
    margin-top: 5%;
}
#clearBtn {
    margin-left: 15px;
}
a.signin {
    margin-left: 10px;
}
.dropdown {
    position: absolute;
    right: 5;
    top: 10;
}
.dropdown-menu {
    position: relative;
}
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
}
.modal-content {
    width: 25%;
    margin: 0 auto;
    border-radius: 2vmin;
    transform: translate(0%, 75%);
}
.modalHeader {
    background-color: #6FF0F0FF;
    text-align: center;
    border-radius: 2vmin;
    top: 2vmin;
    font-size: 4vmin;
}

.modalText {
    text-align: center;
    font-size: 2vmin;
}

.modalBtn {
    text-align: center;
}

span.label {
    position: relative;
    /* top: -1rem; */
    left: 2.5rem;
    font-size: 0.8rem;
    color: #FF4081;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.students {
    background-color: #eeeeeefb;
}
