::-webkit-scrollbar-button { display: none; height: 13px; border-radius: 0px; background-color: #AAA; }
::-webkit-scrollbar-button:hover { background-color: #AAA; }
::-webkit-scrollbar-thumb { background-color: #979797; }
::-webkit-scrollbar-thumb:hover { background-color: #CCC; }
::-webkit-scrollbar-track { background-color: #efefef; }
::-webkit-scrollbar-track:hover { background-color: #636363; }
::-webkit-scrollbar { width: 4px; }
.access {
    width: 80%;
    margin: 5% 0 0 10%;
    background-color: rgb(235,235,235);
    box-shadow: 2px 4px 9px rgba(0, 0, 0, .5);
}
@media (min-width: 700px) {
    .access {
        width: 50%;
        margin-left: 25%;
    }
}
.alert {
    position: absolute;
    width: 100%;
}
.background-image {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    background-image: url('../assets/images/classroom.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.btn {
    cursor: pointer;
}
button:focus {
    outline: 0;
}
.container {
    margin-top: 75px;
    position: relative;
}
.centered-container {
    margin-top: 11%;
}
#clearBtn {
    margin-left: 15px;
}
.card-title {
    font-size: 1.8rem;
}
#DataTables_Table_0_wrapper {
    padding: 0;
    margin: auto;
}
.fa-bars {
    font-size: 4.5vmin;
}
@media (min-width: 992px) {
    .form-group {
        margin-bottom: 1.6rem;
    }
}
.git-btn>a {
    margin-left: 30%;
}
.git-btn>p {
    margin: auto;
}
.jumbotron {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
    background-color: #d8d8d8;
    box-shadow: 2px 4px 9px rgba(0, 0, 0, .5);
}
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
}
.modal p {
    font-size: 1.25rem;
}
.modalCancel {
    margin-left: 4%;
}
.modal-content {
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    transform: translate(0%, 75%);
    background-color: #d8d8d8;
}
@media (max-width: 700px) {
    .modal-content {
        width: 75%;
        transform: translate(0%, 25%);
    }
}
.modalHeader {
    text-align: center;
    border-radius: 2vmin;
    top: 2vmin;
    font-size: 4vmin;
}
.modalText {
    text-align: center;
    font-size: 2vmin;
}
.modalBtn {
    text-align: center;
    margin-bottom: 15px;
}
.menu-ul {
    padding: 0;
    margin: 0 20px 0 0;
    list-style: none;
    text-decoration: none;
}
.menu-ul>li {
    margin: 0 0 0 20px;
    display: inline;
}
.menu-ul>li>a {
    padding: 0;
    text-decoration: none;
    color: rgb(56, 56, 56);
}
.menu-ul>li>a:hover {
    text-decoration: underline;
    color: black;
}
.menu-ul>li>a>span {
    margin-left: 5px;
    color: black;
}
.nav-bar {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
    background-color: rgba(235,235,235,.6);
}
.navbar-brand {
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
}
.navbar-brand:hover {
    text-decoration: none;
    color: black;
}
.navbar-toggler {
    position: absolute;
    top: 14px;
    right: 0;
    padding-bottom: 0;
}
.navbar-toggler.collapsed {
    position: absolute;
    top: 10px;
    right: 0;
    padding-bottom: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}
.navbar-toggler>div>span {
   display: block;
   background-color: #444;
   height: 4px;
   width: 25px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   top: 7px;
   opacity: 1;
}
.navbar-toggler>div>span:nth-child(1),
.navbar-toggler>div>span:nth-child(3) {
   -webkit-transition: transform .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -moz-transition: transform .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -o-transition: transform .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition: transform .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navbar-toggler:not(.collapsed)>div>span:nth-child(1) {
    position: absolute;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    position: relative;
    opacity: 0.9;
}
.navbar-toggler:not(.collapsed)>div>span:nth-child(3) {
    position: absolute;
    top: 7px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}
.navbar-toggler>div>span:nth-child(2) {
    -webkit-transition: transform .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: transform .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: transform .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navbar-toggler:not(.collapsed)>div>span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
.navbar .menu-container {
    display: flex;
    margin-right: 30px;
}
.navbar .collapse.show {
    display: inline-flex;
}
.navbar .span-container {
    position: relative;
}
td[info='table'] {
    cursor: pointer;
}
td[info='table']>i {
    margin-left: 10%;
}
.table-div {
    background-color: rgb(235,235,235);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 2px 4px 9px rgba(0, 0, 0, .5);
}
table {
    width: 100%;
}
.table-hover tbody tr:hover {
    background-color: rgba(88,181,251,.3)
}
table td:nth-of-type(3) {
    width: 80px !important;
}
.signin {
    margin-left: 20px;
}
span.label {
    position: absolute;
    left: 1rem;
    font-size: 0.8rem;
    color: #FF4081;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
.students {
    margin-bottom: 2%;
    background-color: rgb(235,235,235);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 2px 4px 9px rgba(0, 0, 0, .5);
}
@media (min-width: 992px) {
    .students {
        max-height: 44%;
    }
}
.student_item {
    margin: 0;
}
/* iPhone4 media queries */
@media (max-width: 350px) {
    tr[role='row']>td:nth-of-type(1) {
        word-break: break-word;
    }
    tr[role='row']>td:nth-of-type(2) {
        word-break: break-word;
    }
    table td:nth-of-type(3) {
        width: 50px !important;
    }
    .table td, .table th {
        padding: .5rem;
    }
}