head
    title Student Grade Table
    link(rel='icon' href='assets/images/favicon.png')
    meta(name='viewport' content='initial-scale=1, user-scalable=no')
    link(href='css/font-awesome.min.css' rel='stylesheet')
    link(href='css/bootstrap.min.css' rel='stylesheet')
    link(href='css/style.css' rel='stylesheet')
    script(src='js/jquery.min.js')
    script(src='js/validate.min.js')
    script(src='js/tether.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/main.js')