div.modal
    div.modal-content.row
        div.modalHeader.modal-header.align-middle
        div.modalText.align-middle.modal-body
        div.modalBtn: button.btn.tn-danger(onclick="$('.modal').fadeOut()") Close