<div class='modal'>
    <div class='modal-content row'>
        <div class='modalHeader modal-header align-middle'></div>
        <div class='modalText align-middle modal-body'></div>
        <div class='modalBtn'><button class='btn btn-danger' onclick='$('.modal').fadeOut()'>Close</button></div>
    </div>
</div>