div.messageModal.modal
    div.modal-content.row
        div.modalHeader.modal-header.d-flex.justify-content-center
            h3 Confirm Deletion
        div.modalText.modal-body.d-flex.justify-content-center
            p This will permanently remove <strong><span class='studentName'></span></strong>
        div.modalBtn
            form(action='', method='')
                button.btn.btn-danger(type='submit' onclick="$('.modal').fadeOut()") Confirm
                button.btn.btn-success.modalCancel(type='button' onclick="$('.modal').fadeOut()") Cancel