if messages
        div.alert.alert-warning.alert-dismissible.fade.show
            strong #{messages}
            button.close(type='button' data-dismiss='alert' aria-label='Close')
                span(aria-hidden='true') &times;