nav.navbar.nav-bar.sticky-top
    a.navbar-brand(href='/') Student Grade Manager
    button.navbar-toggler.navbar-toggler-right.collapsed(type="button" data-toggle="collapse" data-target="#navbarToggleTarget" aria-controls="navbarToggleTarget" aria-expanded="false" aria-label="Toggle navigation")
        span
        span
        span
    div.collapse.navbar-collapse(id='navbarToggleTarget')
        ul.menu-ul.d-flex.justify-content-end
            li.nav-item
                a.nav-link(href='/') Home
                    span |
            li.nav-item
                a.nav-link(href='/user/signup') Sign Up
                    span |
            li.nav-item
                a.nav-link(href='/user/signin') Sign In
                    span |
            li.nav-item
                a.nav-link(href='/student/list') Student List
                    span |
            li.nav-item
                a.nav-link(href='/user/logout') Logout
