nav.navbar.sticky-top
    a.navbar-brand(href='/') Student Grade Manager
    div.dropdown
        button.btn.btn-secondary.dropdown-toggle(type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            span Menu
        div.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
            a.dropdown-item(href='/') Home
            a.dropdown-item(href='/user/signup') Sign Up
            a.dropdown-item(href='/user/signin') Sign In
            a.dropdown-item(href='/student/list') Student List
            a.dropdown-item(href='/user/logout') Logout